$mainColor: #00a8e8;
$filterOverleyTop: '../images/overlay-bg/filtr-overlay-top.png';
$filterOverleyBottom: '../images/overlay-bg/filtr-overlay-bottom.png';
$teamOverleyTop: '../images/overlay-bg/team-overlay-top.png';
$teamOverleyBottom: '../images/overlay-bg/team-overlay-Bottom.png';
$blogOverleyTop: '../images/overlay-bg/blog-overlay-top.png';
$blogOverleyBottom: '../images/overlay-bg/blog-overlay-bottom.png';