$mainColor: #16a085;
$filterOverleyTop: '../images/overlay-bg/green/filtr-overlay-top.png';
$filterOverleyBottom: '../images/overlay-bg/green/filtr-overlay-bottom.png';
$teamOverleyTop: '../images/overlay-bg/green/team-overlay-top.png';
$teamOverleyBottom: '../images/overlay-bg/green/team-overlay-Bottom.png';
$blogOverleyTop: '../images/overlay-bg/green/blog-overlay-top.png';
$blogOverleyBottom: '../images/overlay-bg/green/blog-overlay-bottom.png';



@import 'methods';
@import 'preloader';

@import 'global';

@import 'header';
@import 'services';
@import 'about';
@import 'portfolio';
@import 'team';
@import 'slider';
@import 'clients';
@import 'pricing';
@import 'faq';
@import 'blog';
@import 'subscribe';
@import 'contact';
@import 'footer';
